<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solodream.spring.vertx.mapper.RouteInfoMapper">

    <resultMap id="RouteInfoMap" type="com.solodream.spring.vertx.jpa.domain.RouteContractInfoDto">
        <result column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="TYPE" property="type" />
        <result column="START_POI" property="startPoi" />
        <result column="START_TIME" property="startTime" />
        <result column="END_POI" property="endPoi" />
        <result column="END_TIME" property="endTime" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="CONTRACT_ID" property="contractId" />
        <result column="CONTRACT_NAME" property="contractName" />
        <result column="REMARK" property="remark" />
        <result column="IS_DELETED" property="isDeleted" />
        <result column="GMT_CREATED" property="gmtCreated" />
        <result column="GMT_MODIFIED" property="gmtModified" />
        <result column="EXTEND" property="extend" />        
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="CUSTOMER_NAME" property="customerName" />
        <result column="CUSTOMER_PHONE" property="customerPhone" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="COMPANY_NAME" property="companyName" />
        <result column="ROUTE_TYPE" property="routeType"/>
        <result column="POIS_UNIQUE" property="poisUnique" />
    </resultMap>

    <sql id="tableName">
       tb_route_info
    </sql>

    <sql id="allColumns">
        ID, NAME, TYPE, START_POI, START_TIME, END_POI, END_TIME, ORG_ID, ORG_NAME, CONTRACT_ID, CONTRACT_NAME, REMARK,  IS_DELETED, GMT_CREATED, GMT_MODIFIED, EXTEND, CUSTOMER_ID,CUSTOMER_NAME,CUSTOMER_PHONE,COMPANY_ID,COMPANY_NAME,ROUTE_TYPE,POIS_UNIQUE
    </sql>

    <insert id="insert" parameterType="com.solodream.spring.vertx.jpa.domain.RouteContractInfoDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO 
            <include refid="tableName" /> 
            (<include refid="allColumns" />) 
        VALUES
            (null, #{name}, #{type}, #{startPoi}, #{startTime}, #{endPoi}, #{endTime}, #{orgId}, #{orgName}, #{contractId}, #{contractName}, #{remark},  0, now(), now(), #{extend},#{customerId},#{customerName},#{customerPhone},#{companyId},#{companyName}, #{routeType}, #{poisUnique})
    </insert>

    <update id="update" parameterType="com.solodream.spring.vertx.jpa.domain.RouteContractInfoDto">
        UPDATE 
            <include refid="tableName" />
        SET 
            GMT_MODIFIED = now(),
        <trim suffixOverrides=",">
            <if test="routeInfo.name != null"> NAME = #{routeInfo.name},</if>
            <if test="routeInfo.type != null"> TYPE = #{routeInfo.type},</if>
            <if test="routeInfo.startPoi != null"> START_POI = #{routeInfo.startPoi},</if>
            <if test="routeInfo.startTime != null"> START_TIME = #{routeInfo.startTime},</if>
            <if test="routeInfo.endPoi != null"> END_POI = #{routeInfo.endPoi},</if>
            <if test="routeInfo.endTime != null"> END_TIME = #{routeInfo.endTime},</if>
            <if test="routeInfo.orgId != null"> ORG_ID = #{routeInfo.orgId},</if>
            <if test="routeInfo.orgName != null"> ORG_NAME = #{routeInfo.orgName},</if>
            <if test="routeInfo.contractId != null"> CONTRACT_ID = #{routeInfo.contractId},</if>
            <if test="routeInfo.contractName != null"> CONTRACT_NAME = #{routeInfo.contractName},</if>
            <if test="routeInfo.remark != null"> REMARK = #{routeInfo.remark},</if>
            <if test="routeInfo.extend != null"> EXTEND = #{routeInfo.extend},</if>
            <if test="routeInfo.customerName != null">CUSTOMER_NAME = #{routeInfo.customerName},</if>
            <if test="routeInfo.customerId != null">CUSTOMER_ID = #{routeInfo.customerId},</if>
            <if test="routeInfo.customerPhone != null">CUSTOMER_PHONE = #{routeInfo.customerPhone},</if>
            <if test="routeInfo.companyId != null">COMPANY_ID = #{routeInfo.companyId},</if>
            <if test="routeInfo.companyName != null">COMPANY_NAME = #{routeInfo.companyName},</if>            
            <if test="routeInfo.routeType != null"> ROUTE_TYPE = #{routeInfo.routeType},</if>
            <if test="routeInfo.poisUnique != null"> POIS_UNIQUE = #{routeInfo.poisUnique},</if>            
        </trim>
        WHERE 
            ID = #{routeInfo.id}
        AND
            IS_DELETED = 0
    </update>

    <update id="delete">
        UPDATE
            <include refid="tableName" />
        SET
            IS_DELETED = 1,
            GMT_MODIFIED = NOW()
        WHERE
            ID = #{id}
    </update>

    <update id="deletes">
        UPDATE
            <include refid="tableName" />
        SET
            IS_DELETED = 1,
            GMT_MODIFIED = NOW()
        WHERE
            ID IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
            </foreach>
    </update>

    <select id="get" resultMap="RouteInfoMap">
        SELECT
            <include refid="allColumns" />
        FROM
            <include refid="tableName" />
        WHERE
            ID = #{id} 
        AND
            IS_DELETED = 0
        LIMIT
            1
    </select>

    <select id="gets" resultMap="RouteInfoMap">
        SELECT
            <include refid="allColumns" />
        FROM
            <include refid="tableName" />
        WHERE
            ID IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
            </foreach>
        AND
            ROUTE_TYPE = 0
        ORDER BY
            ID DESC
    </select>

    <select id="query" parameterType="Map" resultMap="RouteInfoMap">
        SELECT
            <include refid="allColumns" />
        FROM
            <include refid="tableName" />
        <include refid="where"/>
        ORDER BY
            ID DESC
        LIMIT
            1
    </select>

    <select id="querys" parameterType="Map" resultMap="RouteInfoMap">
        SELECT
            <include refid="allColumns" />
        FROM
            <include refid="tableName" />
        <include refid="where"/>
        ORDER BY
            ID DESC
    </select>

    <select id="list" parameterType="Map" resultMap="RouteInfoMap">
        SELECT
            <include refid="allColumns" />
        FROM
            <include refid="tableName" />
        <include refid="where"/>

    </select>

    <select id="listAll" parameterType="Map" resultMap="RouteInfoMap">
        SELECT
            <include refid="allColumns" />
        FROM
            <include refid="tableName" />
        WHERE
            IS_DELETED = 0
        ORDER BY
            ID DESC
    </select>

    <select id="count" parameterType="Map" resultType="int">
        SELECT 
            COUNT(0) 
        FROM 
            <include refid="tableName" />
        <include refid="where"/>
    </select>

    <sql id="where">
        WHERE IS_DELETED = 0 AND ROUTE_TYPE > -1
        <if test="routeInfo != null">
            <if test="routeInfo.id != null"> AND ID = #{routeInfo.id}</if>
            <if test="routeInfo.name != null"> AND NAME = #{routeInfo.name}</if>
            <if test="routeInfo.type != null"> AND TYPE = #{routeInfo.type}</if>
            <if test="routeInfo.startPoi != null"> AND START_POI = #{routeInfo.startPoi}</if>
            <if test="routeInfo.startTime != null"> AND START_TIME = #{routeInfo.startTime}</if>
            <if test="routeInfo.endPoi != null"> AND END_POI = #{routeInfo.endPoi}</if>
            <if test="routeInfo.endTime != null"> AND END_TIME = #{routeInfo.endTime}</if>
            <if test="routeInfo.orgId != null"> AND ORG_ID = #{routeInfo.orgId}</if>
            <if test="routeInfo.orgName != null"> AND ORG_NAME = #{routeInfo.orgName}</if>
            <if test="routeInfo.contractId != null"> AND CONTRACT_ID = #{routeInfo.contractId}</if>
            <if test="routeInfo.contractName != null"> AND CONTRACT_NAME = #{routeInfo.contractName}</if>
            <if test="routeInfo.remark != null"> AND REMARK = #{routeInfo.remark}</if>
            <if test="routeInfo.extend != null"> AND EXTEND = #{routeInfo.extend}</if>
            <if test="routeInfo.customerName != null"> AND CUSTOMER_NAME = #{routeInfo.customerName}</if>
            <if test="routeInfo.customerId != null"> AND CUSTOMER_ID = #{routeInfo.customerId}</if>
            <if test="routeInfo.customerPhone != null"> AND CUSTOMER_PHONE = #{routeInfo.customerPhone}</if>
            <if test="routeInfo.companyId != null"> AND COMPANY_ID = #{routeInfo.companyId}</if>
            <if test="routeInfo.companyName != null"> AND COMPANY_NAME = #{routeInfo.companyName}</if>            
            <if test="routeInfo.routeType != null"> AND ROUTE_TYPE = #{routeInfo.routeType}</if>
            <if test="routeInfo.poisUnique != null"> AND POIS_UNIQUE = #{routeInfo.poisUnique}</if>
        </if>
        <if test="keyword != null and keyword != ''">
        	AND (NAME LIKE '%${keyword}%' OR START_POI LIKE '%${keyword}%' OR END_POI LIKE '%${keyword}%')
        </if>
    </sql>

    <!-- ======================================= custom method ======================================= -->


    <update id="deleteRouteByCustomer">
        UPDATE
        <include refid="tableName" />
        SET
        IS_DELETED = 1,
        GMT_MODIFIED = NOW()
        WHERE
        customer_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
